@mixin mytheme {
  .v-loading-indicator {
    background: $orange;
  }
  .porter-app {
    background: $blue-color;
  }

  .v-button {
    //@include buttonColor($orange, $white , 2rem);
    //@include buttonfocusAnimation ($orange);
  }

  .v-Notification, .gwt-PopupPanel {
    background: $orange;
    padding: 6px 15px;
    font-size: 0.8rem;
    width: 100%;
    top: 0;
    right: 0;
    h1 {
      font-size: 14px;
    }
  }

  //tab_wrpapper
  .tab_wrpapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    background: lighten($blue-color, 2%);
    text-align: center;
    > .v-horizontallayout {
      width: 60%;
    }
  }

  .contentBox {
    > .v-slot {
      > .v-verticallayout {
        padding: 10px !important;
      }
    }
  }

  .logo {
    margin: 5px 0;
  }
  .v-grid-tablewrapper {
    border-color: darken($white, 6%);;
    .v-grid-header {
      .v-grid-cell {
        background: $dark_gray;
        border-color: lighten($dark_gray, 6%);
        .v-grid-column-header-content {
          color: $white;
        }
      }
    }
  }
  .v-filterselect {
    @include border-radiusk(0);
    border: none;
  }
  .v-button{
    cursor: pointer;
    font-weight: normal;
    color: $blue-color;
    @include border-radiusk(0);
    position: relative;
    border: 1px solid lighten($gray, 12%);
    @include box_ShadowNone;
    &:hover, &:focus, &:active {
      &:after {
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
    }
  }
  .primary {
    @include buttonColor($orange, $white, 0);
    height: 40px;
  }
  .cancel {
    @include buttonColor($gray, $white, 0);
    height: 40px;
  }

  .defalt {
    @include buttonColor($lightGray, $blue-color, 0);
    height: 40px;
  }

  .add_button {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 24px;
    margin-bottom: 14px;
    background: $orange;
    @include box_ShadowNone;
    border-color: lighten($orange, 3%);
    color: $blue-color;
  }

  .v-progressbar-wrapper {
    padding: 12px;
    background: $lightGray !important;
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    .v-progressbar-indicator {
      height: 16px;
      border-radius: 4px;
      transition: 0.4s linear;
      background: $primarey-button;
      margin-top: -8px;
      border: none;
    }
  }
  input[type="text"] {
    @include border-radiusk(0);
  }

  .v-window-maximizebox  + .v-window-closebox, .v-window-maximizebox {
      font-size: 32px;
      padding: 0;
      background: lighten($lightGray, 4%);
      @include border-radiusk(50px);
      margin: 6px;
      min-width: 35px;
      height: 35px;
      max-width: 35px;
      &:before {
        color: $blue-color;
      }
      &:focus {
        &:after {
          @include box_ShadowNone;
        }

      }
      &:hover {
        background: $lightGray;
      }
    }

  .v-window-maximizebox {
    right: 38px;
  }
}

:root .mytheme .v-checkbox > input ~ label:before {
  border: none !important;
  background: $primarey-button !important;
  -webkit-border-radius: 0!important;
  -moz-border-radius:  0!important;
  -ms-border-radius:  0!important;
  -o-border-radius:  0!important;
  border-radius:  0!important;
}

:root .mytheme .v-checkbox > input:checked ~ label:after {
  color: $white !important;
}

:root .mytheme .v-radio > input ~ label:before {
  border: none !important;
  background: $primarey-button !important;

}

:root .mytheme .v-radio > input:checked ~ label:after {
  color: $white !important;
}

.popupContent {
  .v-window-header {
    font-size: 25px;
    padding: 10px 30px 4px;
  }

  .v-window-closebox {
    background: $red;
    font-size: 24px;
    color: $white;
    @include border-radiusk(30px);
  }
  .wizard {
    > .v-verticallayout {
      padding: 15px;
    }
    .v-formlayout {
      > table {
        padding: 20px;
      }
    }
  }
}