// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all wizard.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all wizard
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@mixin theme {

  // Insert your own theme rules here
  .my-img-button {
    cursor: pointer;
    opacity: 0.85;
    transition-duration: 0.4s;

    @include hmTransition(background 0.3s ease-in-out, border-top-width 0.3s ease-in-out, height 0.3s ease-in-out);
    border-top: 0 solid;
    cursor: pointer;

    .HMButton-caption {
      margin: 0;

      .toolTip {
        @include hmPos(absolute, 32px, -6px);
        border-radius: 4px;
        line-height: 17px;
        font-size: 14px;
        padding: 5px;
      }
    }

    &:hover {
      height: 107%;
      width: 107%;

      .HMButton-caption {
        pointer-events: auto !important;
      }
    }
  }

  .backColorGrey {
    > .v-slot {
      .v-verticallayout {
        padding: 0;
      }
    }
  }

  .imageMargin {
    cursor: pointer;
  }

  .itemLabel {
    font-weight: bold;
    color: white;
  }

  .main-layout {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0;
  }

  .icon-image {
    width: 25%;
    height: 25%;
  }

  .myRootContent {
    & > .v-expand {
      @include hmTransition(padding-left 0.3s ease-in-out);
      /* Left Menu */
      .v-slot-leftMenu {
        @include hmTransition(margin-left 0.3s ease-in-out);
        margin-left: -250px !important;

        .leftMenu {
          @include hmTransition(width 0.3s ease-in-out);
          width: 250px !important;

          & > .v-expand > .v-slot {
            height: auto !important;
          }

          &:not(.minimal) {
            overflow: auto;
          }

          .v-slot-HMLabel > div {
            width: 100%;

            .v-caption {
              text-align: center;
              position: relative;
              font-size: 20px;
              padding: 10px;

              &:after {
                @include hmPos(absolute, null, null, 0, 0);
                border-bottom: 1px solid;
                content: '';
                width: 100%;
              }

              .v-icon {
                margin-right: 5px;
                max-height: 32px;
              }
            }

            .v-label {
              display: none;
            }
          }

          .HMButton {
            @include hmTransition(background 0.3s, border-left 0.3s, height 0.5s);
            border-left: 0 solid transparent;
            background: transparent;
            overflow: hidden;
            cursor: pointer;
            display: block;
            padding: 8px 0;
            height: 45px;

            &.active {
              border-left-width: 3px;
            }

            &:hover, &.active:hover {
              border-left-width: 5px;
            }
          }

          .HMButton-wrap {
            @include hmTransition(border 0.3s);
            @include hmPos(relative);
            display: block;
            z-index: 1000;

            .v-icon {
              @include hmPos(relative);
              vertical-align: middle;
              display: inline-block;
              text-align: center;
              margin-left: 10px;
              width: 25px;
            }

            .HMButton-caption {
              font-size: 17px;
              vertical-align: middle;
            }
          }

          .HMSubMenu {
            & > .v-slot {
              &:first-child .toolTip {
                @include hmPos(absolute, 0, 5px);
                @include hmSize(30px, 30px);

                .v-icon {
                  @include hmTransition(transform 0.3s ease-in-out);
                  @include hmTransformRotate(0deg);
                  @include hmSize(30px, 30px);
                  line-height: 27px;
                  margin: 0;
                }
              }

              &:last-child > .v-verticallayout {
                @include hmTransition(max-height 0.5s ease-in-out);
                width: calc(100% - 24px) !important;
                border-left: 1px solid transparent;
                position: relative;
                margin-left: 24px;
                overflow: hidden;
                display: block;
                max-height: 0;
              }
            }

            &.open > .v-slot {
              &:first-child .toolTip .v-icon {
                @include hmTransformRotate(-180deg);
              }

              &:last-child > .v-verticallayout {
                max-height: 1000px !important;
              }
            }
          }
        }
      }
    }

    /* breadcrumbs */
    .breadcrumbs {
      padding: 15px 20px;

      .v-slot {
        width: auto !important;

        .HMButton.clickable {
          cursor: pointer;
        }

        .HMLabel {
          display: none !important;
        }
      }
    }

    /* left menu minimal */
    &.minimal {
      overflow: inherit;

      & > .v-expand {
        padding-left: 50px !important;

        .v-slot-leftMenu {
          margin-left: -50px !important;

          .leftMenu {
            overflow: visible;
            width: 50px !important;

            .v-slot-HMLabel > div .v-caption .v-captiontext {
              display: none;
            }

            .HMButton {
              overflow: visible;

              &:hover .HMButton-caption {
                pointer-events: all !important;
                opacity: 1 !important;
                left: 45px !important;
              }

              .HMButton-wrap {
                z-index: 100;

                .v-icon {
                  width: 100%;
                  margin: 0;
                }

                .HMButton-caption {
                  @include hmTransition(left 0.5s ease-in-out, opacity 0.5s ease-in-out);
                  padding: 9px 13px 8px;
                  top: calc(-50% + 5px);
                  pointer-events: none;
                  position: absolute;
                  white-space: pre;
                  z-index: 10000;
                  height: 28px;
                  left: -500px;
                  opacity: 0;
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    /* content */
    .v-slot-contentBox {
      overflow-y: auto;

      .contentBox {
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        z-index: 1;
        & > .v-margin-top {
          padding-top: 0 !important;
        }
      }
    }
  }
}

